[Unit]
Description=LCD-OLinuXino RTP calibrabion

[Service]
Type=oneshot
ExecStart=/usr/lib/olinuxino/olinuxino-ts

[Install]
WantedBy=graphical.target
