#!/usr/bin/make -f

%:
	dh $@  --with-systemd

override_dh_installinit:
	dh_systemd_enable --name=olinuxino-expand olinuxino-expand.service
	dh_systemd_enable --name=olinuxino-firstboot olinuxino-firstboot.service
